body {
    margin: 0;
   
}

header {
    padding: 20px, 10px;
    border-bottom: 1px solid rgb(0, 0, 0);
}

/*aligning the icon with the links*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    width: 140px;
    display: block;
}

.nav-logo img {
    width: 100%;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 18px;
    /*removing padding and margin*/
    margin: 0;
    padding: 0;
    /*when you want space from the border*/
    padding-right: 10%;
}

/*calling a class within the <a> tag*/
.menu-item a {
    text-decoration: none;
    color: black;
    
}

.menu-item a:hover {
    color: blue;
}

.songs-section {
    padding: 72px 76px;
}

.songs-list {
    /*so you have your list horizontally*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px 15px;
    gap: 15px;
    justify-items: center;
}

/*sizing the images*/
.song-item img {
    width: 150px;
}

/*this will select any element that is a child of song-info*/
.song-info > * {
    margin: 0;
}